html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

h1 {
  font-family: 'Jost', sans-serif;
}

.page-container {
  min-height: 100%;
  padding-bottom: 20px;
}

.page-title {
  font-size: 32px;
  width: 100%;
  padding-left: 24px;
}
