.content-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 0;
  
  .content-image {
    width: 50%;
    margin-top: 20px;

    .about-photo {
      width: 100%;
    }
  }

  .content-text {
    width: 50%;
    margin-top: -15px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 16px;
    line-height: 24px;
    font-size: 18px;
  }
}

.skills-container {
  display: flex;
  margin-top: 0;
  width: 100%;
  
  .left-list {
    width: 50%;

    li {
      list-style: none;
      background-color: #25163f;
      color: white;
      border-radius: 32px;
      padding: 16px;
      text-align: center;
      width: 40%;
    }
  }

  .right-list {
    width: 50%;
    margin-right: 24px;

    li {
      list-style: none;
      padding: 0;
      background-color: #25163f;
      color: white;
      border-radius: 32px;
      padding: 16px;
      text-align: center;
      width: 40%;
    }
  }
}

@media (max-width: 600px) {
  .content-container {
    flex-wrap: wrap;
    .content-image {
      width: 100%;
    }
  
    .content-text {
      width: 100%;
    }
  }

  .right-list, .left-list {
    li {
      width: 50%;
    }
  }
  
}
