.image-round {
  display: flex;
  justify-content: center;

  img {
    width: 200px;
    border-radius: 50%;
  }
}

.socials {
  display: flex;
  width: 100%;
  justify-content: center;

  .contact-link {
    font-size: 40px;
    margin: 16px;
    text-decoration: none;
    color: black;
  }
}