.header-bar {
  width: 100%;
  height: 70px;
  background-color: black;
}

.logo {

}

.header-links {
  display: flex;
  justify-content: flex-end;
  padding: 16px;

  .link {
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    color: white;
    font-size: 24px;
  }

  .divisor {
    color: white;
    font-size: 24px;
  }
}