.project-title {
 margin-left: 24px;
 font-size: 40px;
}

.project-images {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 
 .project-slide {
   padding: 24px;
   width: 400px;
   height: 300px;
 }

 .project-slide-slim {
   padding: 24px;
   width: 350px;
   height: 450px;
 }
}

.project-description {
  margin-left: 24px;
}

.project-links {
  margin-left: 18px;
  margin-top: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  
  .buttons-list {
    padding: 0;
    list-style-type: none;
    display: flex;

    .list-item {
      margin-left: 8px;
    }
  }
}